/* Empty. Add your own CSS if you like */
.login {
    background: url(../img/logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}

.welcomeBackgnd {
	background: url('../templates/images/welcome/w1.jpg') no-repeat center;
	background-size: cover;
	margin: auto;
}

.searchBackgnd{
	background: url('../templates/images/ionic.jpg') no-repeat center;
	background-size: cover;
	margin: auto;
}

.menu.menu-left{
  width:100%;
  background-color:#444;
}

.menu-left .item{
  background-color:#444;
  color: white;
}

.item-complex .item-content, .item-radio .item-content{
background-color:#444;
}

.list-item{
  background-color:#444;
  color: white;
}