<ion-view view-title="AYUDA" ng-app="">
	<ion-content>
		<div class="ionic help" >
			<br />
	        <div class="hero no-header flat">
	            <div class="content">
	                <i class="icon hero-icon balanced-bg" >?</i>
	                 <h1 style="color: rgb(255, 255, 255); letter-spacing: 0.15rem; font-family:MV Boli; margin:0; 
						padding:20px 0px 0px 0px; font-size:40px;">AYUDA</h1>
					<p style="color:white; font-family:MV Boli; text-align:center; text-decoration: overline;
						font-size:100%;">Guatemala, pa&iacute;s de la eterna primavera</p>
				</div>
	        </div>
	        <div>
				<div>
					<h2 style="color: white; margin:0; padding:20px 0px 0px 0px; font-size:20px;"><i class="icon ion-home"></i> Inicio</h2>
				</div>
				<div class="transbox">
					<p>Esta opci&oacute;n redireccionar&aacute; a la pantalla de bienvenida de la aplicaci&oacute;n.</p>
				</div>
				
				<div>
					<h2 style="color: white; margin:0; padding:20px 0px 0px 0px; font-size:20px;"><i class="icon ion-search"></i> B&uacute;squeda</h2>
				</div>
				<div class="transbox">
					<p>Esta opci&oacute;n permite realizar b&uacute;squedas de los departamentos o lugares configurados dentro de la aplicaci&oacute;n.</p>
				</div>
				
				<div>
					<h2 style="color: white; margin:0; padding:20px 0px 0px 0px; font-size:20px;"><i class="icon ion-log-in"></i> Login</h2>
				</div>
				<div class="transbox">
					<p>Esta opci&oacute;n permite loguearse dentro de la aplicaci&oacute;n si se cuenta con un usuario previamente creado.</p>
				</div>
				
				<div>
					<h2 style="color: white; margin:0; padding:20px 0px 0px 0px; font-size:20px;"><i class="icon ion-map"></i> Explora</h2>
				</div>
				<div class="transbox">
					<p>Esta opci&oacute;n permite explorar las regiones, departamentos y lugares tur&iacute;sticos configurados dentro de la aplicaci&oacute;n.</p>
				</div>
				
				<div>
					<h2 style="color: white; margin:0; padding:20px 0px 0px 0px; font-size:20px;"><i class="icon ion-paper-airplane"></i> Tours</h2>
				</div>
				<div class="transbox">
					<p>Esta opci&oacute;n permite visualizar los tours previamente creados dentro de la aplicaci&oacute;n.</p>
				</div>
				
				<div>
					<h2 style="color: white; margin:0; padding:20px 0px 0px 0px; font-size:20px;"><i class="icon ion-gear-a"></i> M&aacute;s Acciones</h2>
				</div>
				<div class="transbox">
					<p>Dentro de esta opci&oacute;n es posible acceder a la opci&oacute;n Registro y Ayuda.</p>
				</div>
				
				<div>
					<h2 style="color: white; margin:0; padding:20px 0px 0px 0px; font-size:20px;"><i class="icon ion-log-out"></i> Logout</h2>
				</div>
				<div class="transbox">
					<p>Esta opci&oacute;n permite cerrar la sesi&oacute;n dentro del sistema.</p>
				</div>
				
				<div>
					<h2 style="color: white; margin:0; padding:20px 0px 0px 0px; font-size:20px;"><i class="icon ion-power"></i> Salir</h2>
				</div>
				<div class="transbox">
					<p>Esta opci&oacute;n permite cerrar la aplicaci&oacute;n.</p>
				</div>
				
				<div>
					<h2 style="color: white; margin:0; padding:20px 0px 0px 0px; font-size:20px;"><i class="icon ion-compose"></i> Registro</h2>
				</div>
				<div class="transbox">
					<p>Esta opci&oacute;n permite crear un nuevo usuario y registrarse dentro del sistema.</p>
				</div>
	        </div>
	       
	    </div>
	</ion-content>
</ion-view>
