<ion-view title='<img class="title-image" src="img/logo/HeaderTitleDestinosWhite.png" height="60" />' cache-view="false" >
  <ion-content>
     <div class="list" >
			<a class="item item-icon-left" href="#/app/moreActions/signin" >
				<i class="icon ion-compose"></i>Registro</a>
			<a class="item item-icon-left" href="#/app/moreActions/help" >
				<i class="icon">?</i>Ayuda</a>
      <a class="item item-icon-left" href="#/app/moreActions/help" >
  				<i class="icon ion-android-mail"></i>Sugerencias</a>
	</div>
  </ion-content>
</ion-view>
