<ion-view view-title="Buscar" class="searchBackgnd" ng-controller="SearchResultCtrl">
  <ion-content>
   <style>
	h1{
		color:black;
		font-family:MV Boli; 
		font-size:150%;
		text-align:center; 
    }
  </style>
  <!--div class="list" align="center" style="background: url('../templates/images/ionic.jpg') no-repeat center;">
    <label class="item item-input">
      <span class="input-label">
		<h1>Y hoy, ¿Cúal es tu destino?</h1>
	  </span>
    </label>
  </div-->
    
    <ion-list>
      <ion-item  
        align="center"
        ng-repeat="item in searchResultModel"
        ng-click="goTo(item.id);"
        class="list-item">
        {{item.name}}
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>

