<ion-view title='<img class="title-image" src="img/logo/HeaderTitleDestinosWhite.png" height="60" />' cache-view="false">
	
	<ion-content ng-controller="SearchResultCtrl">

		<div class="ionic">

			<div class="list animate-fade-slide-in-right">
                <a ng-repeat="item in searchResultModel"
                   ng-click="goTo('{{item.navigationPath}}', {{item.id}});"
                   class="item item-avatar waves-effect waves-button waves-light in done"
                   style="background:none;">
                   
                    <span class="avatar" style="background-image: url(&#39;./templates/images/thumbnails/{{item.thumbnail}}&#39;);"></span>
                    
                    <h3 class="text-h3">{{item.name}}</h3>
                    
                    <h4 class="text-h4">{{item.introduction}}</h4>
                    
                </a>
            </div>
			
		</div>
		
	</ion-content>
	
</ion-view>

