<ion-view view-title="Buscar" class="searchBackgnd">
  <ion-header-bar>
    <h1 class="title">Buscar</h1>
  </ion-header-bar>
  <ion-content>
   <style>
  h1{
	color:black;
	font-family:MV Boli; 
	font-size:150%;
	text-align:center; 
  }
  </style>
    <form>
      <div class="list" align="center" style="background: url('../templates/images/ionic.jpg') no-repeat center;">
        <label class="item item-input">
          <span class="input-label">
			<h1>¿Qué lugar deseas conocer hoy?</h1>
		  </span>
        </label>
		<label class="item item-input">
           <i class="icon ion-search placeholder-icon"></i>
		   <input type="search" placeholder="Buscar">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Buscar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>

