<ion-view view-title="Visita Departamentos">
  <ion-content ng-controller="DepartamentCtrl">
        <div class="ionic">
        	<div ng-repeat="depto in departamentModel">
	            <div class="hero has-mask " style="background-image: url(&#39;../templates/images/{{depto.previsualization}}&#39;);">
		            <div class="content">
		                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-heart pull-right text-white"></button>
		                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-images pull-right text-white"></button>
		                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-map pull-right text-white"></button>
		            </div>
		        </div>
		        <div class="mid-bar dark-bg z1 padding">
		            <h3>{{depto.name}}</h3>
		            <p>{{depto.information}}</p>
		        </div>
	        </div>
        </div>
	</ion-content>
  
</ion-view>
