<ion-view title='<img class="title-image" src="images/app/Logo-trans-header.png" height="60" />'>
	<ion-content style="background: url(./templates/images/welcome/loginScreen.jpg) center; background-size: cover;">
		<div class="ionic login" ng-controller="LoginCtrl" ng-submit="login()"><br />
	        <div class="hero no-header flat">
				<div class="content">
	                <i class="ion-map icon hero-icon royal-bg" ></i>
	                <h1 style="color: rgb(255, 255, 255); letter-spacing: 0.15rem; font-family:MV Boli; margin:0; 
						padding:20px 0px 0px 0px; font-size:40px;">DESTINOS</h1>
					<p style="color:white; font-family:MV Boli; text-align:center; text-decoration: overline;
						font-size:100%;">Guatemala, pa&iacute;s de la eterna primavera</p>
	            </div>
	        </div>
	        <div class="list">
				<label class="item item-input item-md-label" placeholder="Username" highlight-color="balanced" type="text">
					<input type="text" class="used" ng-model="user.username">
						<span class="input-label ">Usuario</span>
						<div class="highlight highlight-balanced"></div>
						 <span ng-show="$error.required">Username is required.</span>
				</label>
	
	            <label class="item item-input item-md-label" placeholder="Password" highlight-color="energized" type="password">
					<input type="password" class="used" ng-model="user.pass"  >
						<span class="input-label">Password</span>
						<div class="highlight highlight-energized"></div>
				</label>
	        </div>
	        <div class="padding">
	            <button type="submit" class="button button-block button-positive waves-effect waves-button waves-light" ng-click='login(user)'>Login</button>
						 
	        </div>
			<div class="padding" align="center" ng-controller="MenuCtrl">
	            <button type="submit" class="button button-small button-assertive waves-effect waves-button waves-light" ng-click="goTo('app.signin');">Registrarme</button>
				<button type="submit" class="button button-small button-balanced waves-effect waves-button waves-light" ng-click="goToMenu();">No, gracias</button>
		 
	        </div>
		</div>
	</ion-content>
</ion-view>
