	<ion-nav-view class="view-container">
	
		<ion-side-menus enable-menu-with-back-views="true">
		  <ion-side-menu-content>
			<ion-nav-bar class="bar-dark">
			  <ion-nav-back-button class="button-clear">
					<i class="ion-chevron-left"></i> Regresar
				</ion-nav-back-button>
			  <ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			  </ion-nav-buttons>
			</ion-nav-bar>
			<ion-nav-view name="menuContent"></ion-nav-view>
		  </ion-side-menu-content>

		  <ion-side-menu side="left" >

			<ion-content>
			  
			  <div class="list" ng-controller="MenuCtrl">
			  	
			  	<a class="item item-icon-left item-button-right">MENU</a>
				
				<a class="item item-icon-left item-button-right">
					<i class="icon ion-search"></i>
					<input type="search" placeholder="Buscar" ng-model="searchDataModel.pattern">
					<button class="button button-positive" menu-close ng-click="goSearch(searchDataModel.pattern);">Ir</button>
					
				</a>
				<a class="item item-icon-left" href="#/app/welcome" menu-close ng-click="goTo('app.welcome');" >
					<i class="icon ion-home"></i>
					INICIO
				</a>
				<a class="item item-icon-left" menu-close ng-click="goTo('app.login');">
					<i class="icon ion-log-in"></i>
					LOGIN
				</a>
				<a class="item item-icon-left" menu-close ng-click="goTo('app.exploreRegions');">
					<i class="icon ion-map"></i>
					EXPLORA
				</a>
				<a class="item item-icon-left" menu-close ng-click="goTo('app.tourTypeList');">
					<i class="icon ion-paper-airplane"></i>
					TOURS
				</a>
				<a class="item item-icon-left" menu-close ng-click="goTo('app.moreActions');">
					<i class="icon ion-gear-a"></i>
					M&Aacute;S ACCIONES
				</a>
				<a class="item item-icon-left">
					<i class="icon ion-log-out"></i>
					SALIR
				</a>

			  </div>
			  
			</ion-content>
		  </ion-side-menu>
		</ion-side-menus>
	</ion-nav-view>
