<ion-view title='<img class="title-image" src="images/app/Logo-trans-header.png" height="60" />'>
	<ion-content>
		<!--img class="title-image" src="img/home/BackgroundHome.jpg" width="100%" /-->
		<div class="row">
		  <div class="col">
			<h3 class="welcome-message">Hi {{user.name}}</h3>
			<p class="welcome-message">You have logged in with Facebook</p>
			<img ng-src="{{user.picture}}">
			<a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">
			  Log Out
			</a>
		  </div>
		</div>
	</ion-content>
</ion-view>
