<ion-view title="INICIO" class="welcomeBackgnd">
  <ion-content>
  <style>
  h1{
	color:#0066FF; 
	font-family:ChildishKid; 
	font-size:500%; 
	text-align:center;
	padding-top: 35%;
  }
  p{
	color:white;
	font-family:MV Boli; 
	font-size:100%;
	text-align:center; 
	text-decoration: overline;
  }
  </style>
	<ion-content>
		<style>
			h1{
				color:#0066FF; 
				font-family:ChildishKid; 
				font-size:500%; 
				text-align:center;
				padding-top: 35%;
  			}
			p{
				color:white;
				font-family:MV Boli; 
				font-size:100%;
				text-align:center; 
				text-decoration: overline;
			}
		</style>
		<div class="padding">
	            <button type="submit" class="button button-block button-positive waves-effect waves-button waves-light" ng-click='sayHello()'>Login</button>
	    </div>
	</ion-content>
</ion-view>
