<ion-view view-title="Detalles de Tour" ng-controller="TourDetailsCtrl">
	
	<ion-content>

		<div class="ionic">

			<div ng-repeat="tour in siteTourDetailModel"
				 style="width:100%; height:auto; display:block;">
				
				<div style="border-bottom:5px solid #3E3E3E;">
						<img src="./templates/images/thumbnails/{{tour.map}}" width="100%">
				</div>
				
				<div class="list animate-fade-slide-in-right">
	                <a ng-repeat="site in siteTourRouteModel"
	                ng-click="goTo('app.tourSite',{{site.id}});" 
	                class="item item-avatar waves-effect waves-button waves-dark in done" 
	                style="background:none;">
	                    <span class="avatar" style="background-image: url(&#39;../templates/images/thumbnails/{{site.previsualization}}&#39;);"></span>
	                    <h3 class="text-h3">{{site.name}}</h3>
	                    <h4 class="text-h4">{{site.introduction}}</h4>
	                </a>
	            </div>
		 		
			</div>
			
			<!--div class="list condensed-space no-padding animate-blinds">
                <div class="card" ng-repeat="site in siteTourRouteModel">
                    <div class="item dark-bg item-bg-image waves-effect waves-button waves-light">
                        <h2>{{site.name}}</h2>
                        <p style="font-weight:normal; text-align:left;">{{site.introduction}}</p>
                        <br/>
		                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-map pull-right text-white"
		                        >
		                </button>
                        <img src="./templates/images/thumbnails/{{site.previsualization}}"/>
                    </div>
                </div>				
    		</div-->


		</div>
		
		
	</ion-content>
	
</ion-view>
