<ion-view title='<img class="title-image" src="img/logo/HeaderTitleDestinosWhite.png" height="60" />' cache-view="false" >
	
	<ion-content>

		<div class="ionic" ng-controller="TourTypeCtrl">
			
			<div class="list condensed-space no-padding animate-blinds">
			
				<div class="card in" ng-repeat="type in tourTypeModel" style="border-bottom: 1px solid #999999; margin:0px;">

					<div class="item dark-bg item-bg-image waves-light waves-effect waves-light" ng-click="goTo('app.tourList', {{type.tour_type_id}});">
						<br/><br/><br/><br/>
						
						<button class="button-large button-clear waves-effect icon ion-android-more-horizontal pull-right text-white" 
						ng-click="goTo('app.tourList', {{type.tour_type_id}});"></button>
			
						<img ng-src="./images/content/tourType/{{type.thumbnail}}" />
			
					</div>
			
				</div>
			
			</div>
		
		</div>

	</ion-content>
	
</ion-view>