<ion-view view-title="Tours" style="background-color:#444;">

  <ion-content ng-controller="TourCtrl">
  
        <div class="ionic">
        	<div class="slide-up" ng-repeat="tour in tourModel">
	            <div class="hero has-mask waves-effect waves-light" style="background-image: url(&#39;./templates/images/thumbnails/{{tour.previsualization}}&#39;);">
		            <div class="content">
		                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-map pull-right text-white"
		                ng-click="goTo('app.tourDetails', {{tour.id}});">
		                </button>
		            </div>
		        </div>
		        <div class="mid-bar dark-bg z1 padding">
		            <h3>{{tour.name}}</h3>
		            <p>{{tour.introduction}}</p>
		        </div>
	        </div>
        </div>
        
	</ion-content>
  
</ion-view>
