<ion-view title='<img class="title-image" src="img/logo/HeaderTitleDestinosWhite.png" height="60" />' cache-view="false" >

	<ion-content>

		<div class="ionic">

			<div ng-repeat="tour in siteTourDetailModel"
			style="width:100%; height:auto; display:block;">

				<div class="waves-effect waves-light" style="border-bottom:5px solid #3E3E3E;">
					<img src="./images/content/tour/{{tour.map}}" width="100%" usemap="#mapTour">
					<map name="mapTour">
						<area shape="rect" coords="263,10,286,46" ng-click="goTo('app.tourSite', 3);">
						<area shape="rect" coords="300,39,322,70" ng-click="goTo('app.tourSite', 6);">
						<area shape="rect" coords="283,146,308,186" ng-click="goTo('app.tourSite', 7);">
						<area shape="rect" coords="224,166,251,206" ng-click="goTo('app.tourSite', 8);">
						<area shape="rect" coords="80,496,107,536" ng-click="goTo('app.tourSite', 9);">
					</map>
				</div>

				<div class="list animate-fade-slide-in-right">
	                <a ng-repeat="site in siteTourRouteModel"
	                   ng-click="goTo('app.tourSite', {{site.id}});"
	                   class="item item-avatar waves-effect waves-button waves-light in done"
	                   style="background:none;">
	                    <span class="avatar" style="background-image: url(&#39;./templates/images/thumbnails/{{site.previsualization}}&#39;);"></span>
	                    <h3 class="text-h3">{{site.name}}</h3>
	                    <h4 class="text-h4">{{site.introduction}}</h4>
	                </a>
	            </div>
				<div class="padding" align="center">
					<button  type="submit" class="button button-medium button-positive waves-effect waves-button waves-light"
						onclick="window.plugins.socialsharing.share('Explora Guatemala! Descarga DestinosGT', null,
						'http://farm4.static.flickr.com/3581/3465095838_89a5c51440.jpg', 'https://play.google.com/store/search?q=DestinosGT')">
						Compartir</button>
				</div>
			</div>

		</div>

	</ion-content>

</ion-view>
