<ion-view  view-title="Explora!">
	<ion-content ng-controller="exploreRegionCtrl">
        <div class="ionic">
            <div class="list condensed-space no-padding animate-blinds">
                <div class="card" ng-repeat="region in regionModel">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" 
                       href="#/app/explore/metropolitan/deptos">
                        <h2>{{region.name}}</h2>
                        <p>{{region.information}}</p>
                        <img src="templates/images/{{region.previsualization}}">
                    </a>
                </div>
            </div>
        </div>
		</div>
	</ion-content>
</ion-view>
