<ion-view view-title="Visita Departamentos" style="background-color:#444;">
  <ion-content ng-controller="DepartmentCtrl">
        <div class="ionic">
        	<div class="slide-up" ng-repeat="depto in departamentModel">
	            <div class="hero has-mask waves-effect waves-light" style="background-image: url(&#39;./templates/images/{{depto.previsualization}}&#39;);">
		            <div class="content">
		                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-map pull-right text-white"
		                ng-click="goTo('app.sites', {{depto.id}});">
		                </button>
		                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-images pull-right text-white"></button>
		                <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-information pull-right text-white"></button>
		                
		            </div>
		        </div>
		        <div class="mid-bar dark-bg z1 padding">
		            <h3>{{depto.name}}</h3>
		            <p>{{depto.introduction}}</p>
		        </div>
	        </div>
        </div>
	</ion-content>
  
</ion-view>
