<ion-view view-title="EXPLORAR REGIONES" style="background-color:#444;">
	<ion-content ng-controller="RegionCtrl">
        <div class="ionic">
            <div class="list condensed-space no-padding animate-blinds">
                <div class="card dark-bg" ng-repeat="region in regionModel">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" 
                       ng-click="goTo(region.regionId);">
                        <h2>{{region.name}}</h2>
                        <p style="font-weight:normal; text-align:left;">{{region.information}}</p>
                        <br/>
                        <button class="button button-large button-clear flat waves-effect waves-button waves-light icon ion-ios-information-outline pull-right text-white"></button>
                        <img src="templates/images/{{region.previsualization}}"/>
                    </a>
                </div>				
            </div>
        </div>
	</ion-content>
</ion-view>