<ion-view view-title="Descubre Lugares">
  <ion-content ng-controller="SiteCtrl">
        <div class="ionic">
        	<div class="slide-up" ng-repeat="site in siteModel">
	            <div class="hero has-mask waves-effect waves-light" style="background-image: url(&#39;./templates/images/thumbnails/{{site.previsualization}}&#39;);">
		            <div class="content">
		            	<button class="button button-medium button-clear flat waves-effect waves-button waves-light icon ion-images pull-right text-white"
	                ng-click="goToGallerySite({{site.id}});"></button>
	                <button class="button button-medium button-clear flat waves-effect waves-button waves-light icon ion-location pull-right text-white" ng-click="goTo('app.siteProfile', {{site.id}}, 'location');"></button>
	                <button class="button button-medium button-clear flat waves-effect waves-button waves-light icon ion-plus-round pull-right text-white" ng-click="goTo('app.siteProfile', {{site.id}}, 'services');"></button>
	                <button class="button button-medium button-clear flat waves-effect waves-button waves-light icon ion-information pull-right text-white" ng-click="goTo('app.siteProfile', {{site.id}}, 'information');"></button>
		            </div>
		        </div>
		        <div class="mid-bar dark-bg z1 padding">
		        	<h3>{{site.name}}</h3>
		        	<p>{{site.introduction}}</p>
		        </div>
	        </div>
        </div>
	</ion-content>
  
</ion-view>
