<ion-view title='<img class="title-image" src="images/app/Logo-trans-header.png" height="60" />' cache-view="false" >

	<ion-content>
		
		<div class="ionic" ng-controller="DepartmentCtrl">
			
			<div class="list condensed-space no-padding animate-blinds">
			
				<div class="card in" ng-repeat="dept in departamentModel" style="border-bottom: 1px solid #999999; margin:0px;">
					
					<div class="hero waves-effect waves-light"
					style="background-image: url(&#39;./images/content/department/{{dept.thumbnail}}&#39;);"
					ng-click="goTo('app.sites', {{dept.department_id}});">

						<div class="content"></div>

					</div>
					
					<div class="mid-bar">
					
						<button class="button button-medium flat button-clear icon ion-map pull-right text-white"
							ng-click="goTo('app.sites', {{dept.department_id}});" 
							style="border-radius: 3px;"></button>
							
						<p style="color:#FFF; margin-top:15px; margin-bottom: 10px;">
							{{dept.introduction}}
						</p>
						
					</div>
			
				</div>
			
			</div>
		
		</div>
		
	</ion-content>

</ion-view>
