<ion-view view-title="Disfruta de Guatemala" ng-controller="SiteProfileCtrl">
	
	<ion-content>

		<div class="ionic">

			<div
				 ng-repeat="profile in siteProfileModel" 
				 style="width:100%; height:auto; display:block;">
				
				
				<div class="hero waves-effect waves-light" 
					 style="background-image: url(&#39;./templates/images/{{profile.previsualization}}&#39;);">
					<div class="content">
						<!--div class="avatar" style="background-image: url(&#39;../img/lil-jon.jpg&#39;);"></div>
						<h3><a class="light">{{profile.name}}</a></h3>
						<h4>{{profile.introduction}}</h4-->
					</div>
				</div>
				
				<!--div class="button-bar">
					<button class="button button-dark waves-effect waves-button waves-classic icon ion-information"
							ng-click="selectTab(0)"></button>
					<button class="button button-dark waves-effect waves-button waves-classic icon ion-plus-round"
							ng-click="selectTab(1)"></button>
					<button class="button button-dark waves-effect waves-button waves-classic icon ion-location"
							ng-click="selectTab(2)"></button>
					<button class="button button-dark waves-effect waves-button waves-classic icon ion-images"
							ng-click="selectTab(3)"></button>
				</div-->
					
				<div class="animate-fade-slide-in-right"
		 			 style="width:100%; height:100%; border:5px solid #844B30; border-top:10px solid #844B30;">
		 			<div style="background:linear-gradient(#EEDAAF, #CFAF6D); padding:10px;"
						 ng-bind-html="siteProfileContent">
					</div>    		 			 
		 		</div>
		 		
		 		
			</div>

		</div>
		
		
	</ion-content>
	
</ion-view>
