<ion-view title='<img class="title-image" src="images/app/Logo-trans-header.png" height="60" />' cache-view="false" >

	<ion-content ng-controller="SiteProfileCtrl">

		<div class="ionic" style="background-color: #FFFFFF;">

			<div ng-repeat="profile in siteProfileModel" style="width:100%; height:auto; display:block;">

				<div class="hero waves-effect waves-light"
				style="background-image:url(&#39;./images/content/place/{{profile.thumbnail}}&#39;); border-bottom:5px solid #3E3E3E;">
			
					<div class="content">
						
						<h5 style="background-color: #1C76B8; color: #FFFFFF; padding-right:10px;" align="right">
							{{profile.introduction}}
						</h5>
						
					</div>
			
				</div>

				<div class="animate-fade-slide-in-right" style="width:100%; height:100%;">
					<br />

					<div ng-bind-html="siteProfileContent" style="color: #999;"><!-- style="padding:10px;"  --></div>
			
				</div>

			</div>

		</div>

	</ion-content>

</ion-view>
